.sidebar {
  background: var(--background-primary);
  padding-top: 2em;
  border-right: 1px solid var(--color-primary);
  
  & > a:last-of-type {
    border-bottom: unset;
  }
}

.sidebar {
  .link {
    display: block;
    color: inherit;
    font-size: 0.875em;
    text-decoration: none;
    letter-spacing: 0.075em;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 1px solid rgba(
      var(--color-primary-r),
      var(--color-primary-g),
      var(--color-primary-b),
      0.125
    );
    padding: 0.5em 1em;
    margin: 0 1em;
    
    &:hover,
    &.active {
      background: rgb(
        calc(var(--background-primary-r) * (var(--appearance-light) * 0.925 + var(--appearance-dark) * 1.75)), 
        calc(var(--background-primary-g) * (var(--appearance-light) * 0.925 + var(--appearance-dark) * 1.75)), 
        calc(var(--background-primary-b) * (var(--appearance-light) * 0.925 + var(--appearance-dark) * 1.75))
      );
    }
  }
  .spacer {
    border-bottom: 2px solid rgba(
      var(--color-primary-r),
      var(--color-primary-g),
      var(--color-primary-b),
      0.125
    );
  }
  .subNav {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
    
    & > a {
      margin-left: 1.5em;
    }
    &.open {
      max-height: 100em;
      transition: max-height 0.8s ease-in-out;
    }
  }
  .appearance {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 5em;
    left: 0;
    right: 0;
  }
}
