.main {
  padding: 6em 2em 2em;
  width: 100%;
}

.main {
  .carousel1 {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 1em;
    width: 20em;
    
    & > nav > :first-child,
    & > nav > :last-child {
      pointer-events: auto;
      
      & > svg {
        width: 1.75em;
      }
    }
    & > :nth-child(1) {
      margin: auto;
      max-width: 10em;
    }
    .item {
      position: absolute;
      background: yellowgreen;
      margin: 0 1em;
      width: 7.5em;
      height: 10em;
    }
  }
}
