.sidebar2Sample {
  text-align: center;
}

.show {
  margin: 5em 0 2em;
}

.sidebar {
  height: 100%;
}

@media (min-width: 576px) {
  .sidebar {
    width: 22em;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    font-size: 1.1em;
  }
}
