.sidebar2Sample {
  text-align: center;
}

.show {
  margin-top: 2rem;
}

.sidebar2 {
  height: 100%;
}

@media (min-width: 576px) {
  .sidebar2 {
    width: 22em;
  }
}
@media (min-width: 1200px) {
  .sidebar2 {
    font-size: 1.1em;
  }
}
