.current {
  height: 100vh;
  
  & img {
    object-fit: cover;
  }
}

.next {
  @extend .current;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 1s;
  
  &.show {
    opacity: 1;
  }
}
