.dataTable {
  position: relative;
}

.dataTable {
  .results {
    position: absolute;
    font-size: 0.875em;
    border: 1px solid rgba(
      var(--color-primary-r),
      var(--color-primary-g),
      var(--color-primary-b),
      0.125
    );
    border-radius: 0.5em;
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    top: -2em;
  }
  .tabs {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-flow: wrap;
    border: 1px solid rgba(
      var(--color-primary-r),
      var(--color-primary-g),
      var(--color-primary-b),
      0.125
    );
    border-radius: 1em;
    margin-bottom: 2em;
    
    &::after {
      content: '';
      position: absolute;
      background: var(--background-primary);
      width: 1px;
      height: 100%;
      right: 0;
    }
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .tab {
    flex: auto;
    color: var(--color-primary);
    font-size: 0.875em;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select:  none;
    border-bottom: 1px solid rgba(
      var(--color-primary-r),
      var(--color-primary-g),
      var(--color-primary-b),
      0.125
    );
    border-right: 1px solid rgba(
      var(--color-primary-r),
      var(--color-primary-g),
      var(--color-primary-b),
      0.125
    );
    padding: 0.5em;
    
    &.active,
    &:hover {
      background: var(--background-secondary);
    }
  }
  .list {
    overflow: hidden;
    border: 1px solid rgba(
      var(--color-primary-r),
      var(--color-primary-g),
      var(--color-primary-b),
      0.125
    );
    padding-left: 0;
    border-radius: 1em;
    margin-bottom: 2em;
  }
  .noResultMobile {
    font-size: 0.875em;
    text-align: center;
    border: 1px solid rgba(
      var(--color-primary-r),
      var(--color-primary-g),
      var(--color-primary-b),
      0.125
    );
    border-radius: 1em;
    padding: 1em 0;
    margin: 2em 0;
  }
  .tableHeadContainer { }
  .tableHead { }
  .column { }
  .tableBodyContainer { }
  .noResult {
    font-size: 0.875em;
    text-align: center;
    margin: 1em 0;
  }
  .paginate {
    justify-content: center;
    margin-top: 2.5em;
  }
  .loadingContainer {
    position: absolute;
    background: rgba(
      var(--background-primary-r),
      var(--background-primary-g),
      var(--background-primary-b),
      0.25
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .loading {
    position: absolute;
    top: 37.5%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  @media (min-width: 1024px) {
    .tabs {
      overflow: unset;
      border: unset;
      border-radius: unset;
      margin-bottom: unset;
    }
    .tableHeadContainer,
    .tableBodyContainer {
      overflow: hidden;
      border: 1px solid rgba(
        var(--color-primary-r),
        var(--color-primary-g),
        var(--color-primary-b),
        0.125
      );
      border-radius: 1em;
      margin-bottom: 2em;
    }
    .tableHead,
    .tableBody {
      table-layout: fixed;
      border-collapse: collapse;
      width: 100%;
    }
    .tableHead > thead > tr {
      font-size: 0.875em;
      
      & > th {
        text-align: left;
        padding: 0.25em 0.5em;
        
        &:first-child {
          padding-left: 0.875rem;
        }
        &:last-child {
          padding-right: 0.875rem;
        }
      }
    }
    .tableBody {
      margin: 0.5em 0;
    }
    .column {
      display: inline-block;
      color: inherit;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
      user-select:  none;
      
      & > label {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        pointer-events: none;
        line-height: 1.25em;
      }
      & > span {
        margin-left: 0.125em;
      }
    }
    .tableBodyContainer {
      overflow: unset;
    }
  }
}
