.badgeSample {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  
  & > :first-child {
    margin-bottom: 1rem;
  }
  & > :last-child {
    margin-top: 1rem;
  }
}
