:root {
  --map-bg-color: #E5E3DF;
  --info-text-color: #333;
  --info-anchor-color: #427FED;
}

.mapSample {
  margin-top: 3vh;
}

.map {
  background: var(--map-bg-color);
  height: 97vh;
}

.info {
  color: var(--info-text-color);
  font-weight: var(--weight-regular);
  margin-right: 2em;
  
  & > h6 {
    margin: 0 0 0.2em 0;
  }
  & > a {
    color: var(--info-anchor-color);
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
