.textFieldSample {
  text-align: center;
  margin-top: 5em;
}

.textField1,
.textField2,
.textField3 {
  display: block;
  margin: 1em auto;
  width: 50%;
}

.textField3 {
  & > label {
    position: static;
  }
}

.fieldPlaceholder {
  font-size: 1.25em;
  white-space: normal;
  
  & img {
    margin: 0 0 0.25em 0.25em;
    width: 0.75em;
  }
}
