.range {
  .trackContainer {
    display: flex;
    height: 1em;
  }
  .track {
    align-self: center;
    background: var(--background-secondary);
    width: 100%;
    height: 1px;
  }
  .thumb {
    background: var(--background-secondary);
    border-radius: 50%;
    width: 1em;
    height: 1em;
  }
}
