.responsiveImageSample {
  margin-top: 5em;
}

.image {
  background: red;
  width: 100%;
}

@media (min-width: 768px) {
  .image {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .image {
    width: 33%;
  }
}
