@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes stroke-dash {
  0% {
    stroke-dasharray: 1.25, 250;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 111.25, 250;
    stroke-dashoffset: -43.75px;
  }
  100% {
    stroke-dasharray: 111.25, 250;
    stroke-dashoffset: -155px;
  }
}
