.textField {
  display: inline-block;
  position: relative;
  text-align: left;
  margin: 1.75em 0;
  
  &.disabled {
    opacity: 0.5;
  }
}

.textField {
  .adornmentContainer {
    border-bottom: solid 1px;
    padding-bottom: 0.25em;
    
    &.flex {
      display: flex;
      align-items: flex-start;
    }
    &.outlined {
      border: solid 1px;
      border-radius: 0.5em;
      padding: 0.375em 0.5em;
      
      &.error {
        border: solid 1px var(--color-error);
      }
    }
    &.error {
      border-bottom: solid 1px var(--color-error);
    }
  }
  .startAdornment {
    margin-right: 0.4em;
  }
  .placeholderContainer {
    flex: 1;
    
    &.relative {
      position: relative;
    }
  }
  .input {
    display: block;
    background: none;
    color: inherit;
    outline: none;
    border: none;
    padding: 0;
    width: 100%;
    
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-transition: background, color;
      -webkit-transition-delay: 9999s;
    }
    &:focus,
    &:-webkit-autofill {
      + .placeholder {
        font-size: 0.75em;
        top: -1.75em;
      }
    }
  }
  .placeholder {
    display: block;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    width: 100%;
    top: 0;
    left: 0;
    
    &.opened {
      font-size: 0.75em;
      top: -1.75em;
    }
  }
  .endAdornment {
    margin-left: 0.4em;
  }
  .error:not(.adornmentContainer) {
    color: var(--color-error);
    font-size: 0.875rem;
    margin-top: 0.4em;
  }
}
