.active {
  --color-active: #4CAF50;
  --color-active-r: 76;
  --color-active-g: 175;
  --color-active-b: 80;
  --color-inactive: #F44336;
  --color-inactive-r: 244;
  --color-inactive-g: 67;
  --color-inactive-b: 54;
}

.active {
  .input {
    &:checked {
      +.content {
        border: 2px solid var(--color-active);
        
        &::before {
          background: var(--color-active);
        }
      }
    }
    &:disabled {
      +.content {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
  .content {
    position: relative;
    opacity: 0.75;
    cursor: pointer;
    border: 2px solid var(--color-inactive);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    
    &::before {
      content: '';
      position: absolute;
      background: var(--color-inactive);
      border-radius: 50%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scale(0.5);
    }
    &:hover {
     opacity: 1; 
    }
  }
}
