.button {
  --background-secondary: #3971A3;
  --background-secondary-r: 57;
  --background-secondary-g: 113;
  --background-secondary-b: 163;
  
  --color-secondary: #EDEDED;
  --color-secondary-r: 237;
  --color-secondary-g: 237;
  --color-secondary-b: 237;
}

.button {
  background: var(--background-primary);
  color: var(--color-primary);
  font-size: 0.875em;
  cursor: pointer;
  border: 1px solid rgba(
    var(--color-primary-r),
    var(--color-primary-g),
    var(--color-primary-b),
    0.25
  );
  border-radius: 0.5em;
  padding: 0.5em 0.875em;
  
  &.small {
    font-size: 0.75em;
  }
  &.secondary {
    background: #3971A3;
    color: var(--color-secondary);
    border: 1px solid rgb(
      calc(var(--background-secondary-r) * 1.5),
      calc(var(--background-secondary-g) * 1.5),
      calc(var(--background-secondary-b) * 1.5)
    );
    
    &:hover {
      background: rgb(
        calc(var(--background-secondary-r) * 1.25), 
        calc(var(--background-secondary-g) * 1.25), 
        calc(var(--background-secondary-b) * 1.25)
      );
    }
  }
  &.tertiary {
    background: unset;
    color: var(--color-primary);
    text-decoration: underline;
    border:unset;
    
    &:hover {
      background: unset;
    }
  }
  &:hover {
    background: rgb(
      calc(var(--background-primary-r) * (var(--appearance-light) * 0.95 + var(--appearance-dark) * 1.5)), 
      calc(var(--background-primary-g) * (var(--appearance-light) * 0.95 + var(--appearance-dark) * 1.5)), 
      calc(var(--background-primary-b) * (var(--appearance-light) * 0.95 + var(--appearance-dark) * 1.5))
    );
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
