.button {
  background: var(--background-primary);
  color: var(--color-primary);
  font-size: 0.875em;
  cursor: pointer;
  border: 1px solid rgba(
    var(--color-primary-r),
    var(--color-primary-g),
    var(--color-primary-b),
    0.25
  );
  border-radius: 0.5em;
  padding: 0.375em 0.875em;
  
  &.small {
    font-size: 0.75em;
  }
  &.reversed {
    background: var(--background-secondary);
    color: var(--color-secondary);
    border: 1px solid rgba(
      var(--color-secondary-r),
      var(--color-secondary-g),
      var(--color-secondary-b),
      0.25
    );
    
    &:hover {
      background: rgb(
        calc(var(--background-secondary-r) * (var(--appearance-light-r) * 0.95 + var(--appearance-dark-r) * 1.5)), 
        calc(var(--background-secondary-g) * (var(--appearance-light-r) * 0.95 + var(--appearance-dark-r) * 1.5)), 
        calc(var(--background-secondary-b) * (var(--appearance-light-r) * 0.95 + var(--appearance-dark-r) * 1.5))
      );
    }
  }
  &:hover {
    background: rgb(
      calc(var(--background-primary-r) * (var(--appearance-light) * 0.95 + var(--appearance-dark) * 1.5)), 
      calc(var(--background-primary-g) * (var(--appearance-light) * 0.95 + var(--appearance-dark) * 1.5)), 
      calc(var(--background-primary-b) * (var(--appearance-light) * 0.95 + var(--appearance-dark) * 1.5))
    );
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
