.calendarPopover {
  position: relative;
}

.calendarPopover {
  .date {
    color: var(--color-primary);
    cursor: pointer;
    border-bottom: 1px solid black;
    padding-bottom: 0.25em;
    
    &.disabled {
      opacity: 0.75;
      cursor: not-allowed;
    }
    & > span:first-of-type {
      vertical-align: middle;
    }
  }
  .calendar {
    position: absolute;
    background: var(--background-primary);
    box-shadow: var(--shadow-tertiary);
    top: calc(100% + 0.25em);
    left: 0;
    z-index: 1;
  }
  .calendar {
    padding-top: 1em;
    min-width: 17.5em;
  }
  .error {
    color: var(--color-error);
    font-size: 0.875rem;
    white-space: pre;
    margin-top: 0.4em;
  }
}
