.checkbox {
  .label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 1.5em;
    margin: 0;
    
    & > * {
      display: inline-block;
    }
    &.disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
  .input {
    &:checked {
      +.box::after {
        content: '';
      }
    }
  }
  .box {
    position: absolute;
    border: 1px solid;
    width: 1em;
    height: 1em;
    top: 0.1em;
    left: 0;
    
    &::after {
      content: none;
      position: absolute;
      border-bottom: 0.125em solid;
      border-left: 0.125em solid;
      width: 0.56em;
      height: 0.31em;
      top: 0.2em;
      left: 0.15em;
      transform: rotate(-45deg);
    }
  }
  .error {
    color: var(--color-error);
    padding-left: 1.3em;
    margin-top: 0.4em;
  }
}
