.toggleSwitch {
  --background-primary: #ADADAD;
  --background-secondary: #FFFFFF;
}

.toggleSwitch {
  display: inline-block;
}

.toggleSwitch {
  .label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    
    &.disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
  .input {
    display: block;
    background: var(--background-primary);
    appearance: none;
    border-radius: 0.5em;
    width: 1.5em;
    height: 0.5em;
    
    &:focus-visible {
      outline: solid 2px white;
    }
    &:checked {
      background: var(--color-active);
      
      +.thumb {
        left: 1em;
      }
    }
  }
  .thumb {
    position: absolute;
    background: var(--background-secondary);
    border: 1px solid var(--background-primary);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  .error {
    color: var(--color-error);
    padding-left: 1.3em;
    margin-top: 0.4em;
  }
}
