.main {
  display: flex;
  flex-flow: wrap;
  padding: 6em 2em 2em;
  
  & > * {
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(
      var(--color-primary-r),
      var(--color-primary-g),
      var(--color-primary-b),
      0.25
    );
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.25em;
    width: 6.25em;
    height: 6.25em;
    
    & > div {
      display: block !important;
      margin: 1.5em auto 0.75em;
    }
    & > svg {
    }
    & > span {
      display: block;
      font-size: 0.75em;
      word-break: break-word;
    }
  }
}
