.carousel {
  position: relative;
}

.carousel {
  .list {
    --padding-left: 0;
    --padding-right: 0;
  }
  .list {
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    white-space: nowrap;
    
    &::-webkit-scrollbar {
      height: 0;
    }
    & > * {
      display: inline-block;
      scroll-snap-align: center;
      white-space: normal;
    }
    & > :first-child {
      margin-left: 0;
    }
    & > :last-child {
      margin-right: 0;
    }
    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: var(--padding-left);
    }
  }
  
  @media (min-width: 768px) {
    .list {
      scroll-snap-type: unset;
    }
  }
}
