.carousel {
  position: relative;
}

.carousel {
  .list {
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    white-space: nowrap;
    
    &::-webkit-scrollbar {
      background: transparent;
    }
    & > * {
      display: inline-block;
      scroll-snap-align: center;
      white-space: normal;
    }
    & > :first-child {
      margin-left: 0;
    }
    & > :last-child {
      margin-right: 0;
    }
  }
}
