.index {
  --card-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1),
                 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.index {
  background: green;
  padding: 6em 2em 2em;
  width: 100%;
}

.index {
  .carousel1 {
    background: red;
    width: 20em;
    
    
    & > :nth-child(1) {
      margin: auto;
    max-width: 10em;
      
      
    }
  }
  .x {
      position: absolute;
    object-fit: contain;
    background: yellowgreen;
  width: 100%;
  height: 100%;
  }
  
.item {
  background: yellowgreen;
  margin: 0 1em;
  width: 100px;
  height: 10em;
}

.card {
  text-align: center;
  margin: 1em;
  width: 15em;
}

.cardBody {
  box-shadow: var(--card-shadow);
  padding: 0.75em;
}

.cardTitle {
  line-height: 5em;
  height: 5em;
  
  & > h3 {
    display:inline-block;
    font-size: 1.17em;
    font-weight: normal;
    vertical-align:middle;
    margin: 0;
    line-height: normal;
  }
}

.cardText {
  font-size: 0.9em;
}

}

.carouselArrows {
  width: 100%;
    
  & > nav {
    height: 15em;
  }
  & > nav > :first-child,
  & > nav > :last-child {
    pointer-events: auto;
    
    & > svg {
      width: 1.75em;
    }
  }
}

.card1 {
  text-align: center;
  padding: 0 1em;
  width: 33.3%;
  vertical-align: top;
}
