:root {
  --appearance-dark: 0;
  --appearance-light: 1;
  
  --font-primary: sans-serif;
  --font-secondary: serif;
  
  --background-primary: #EDEDED;
  --background-primary-r: 237;
  --background-primary-g: 237;
  --background-primary-b: 237;
  --background-secondary: #181818;
  --background-secondary-r: 24;
  --background-secondary-g: 24;
  --background-secondary-b: 24;
  
  --color-primary: #000000;
  --color-primary-r: 0;
  --color-primary-g: 0;
  --color-primary-b: 0;
  --color-secondary: #EDEDED;
  --color-secondary-r: 237;
  --color-secondary-g: 237;
  --color-secondary-b: 237;
  --color-error: #F44336;
  --color-error-r: 244;
  --color-error-g: 67;
  --color-error-b: 54;
  --color-info: #4CAF50;
  --color-info-r: 76;
  --color-info-g: 175;
  --color-info-b: 80;
  --color-active: #4CAF50;
  --color-active-r: 76;
  --color-active-g: 175;
  --color-active-b: 80;
  --color-inactive: #F44336;
  --color-inactive-r: 244;
  --color-inactive-g: 67;
  --color-inactive-b: 54;
  
  --shadow-primary: 0 2px 2px 0 rgba(0, 0, 0, 0.5),
                    0 3px 1px -2px rgba(0, 0, 0, 0.5),
                    0 1px 5px 0 rgba(0, 0, 0, 0.5);
  --shadow-secondary: 0 0 8px rgba(0, 0, 0, 0.5),
                      0 8px 8px rgba(0, 0, 0, 0.5);
  --shadow-tertiary: 0 0 8px rgba(0, 0, 0, 0.25),
                     0 8px 8px rgba(0, 0, 0, 0.25);
}

[appearance='dark'] {
  --appearance-dark: 1;
  --appearance-light: 0;
  
  --background-primary: #181818;
  --background-primary-r: 24;
  --background-primary-g: 24;
  --background-primary-b: 24;
  --background-secondary: #EDEDED;
  --background-secondary-r: 237;
  --background-secondary-g: 237;
  --background-secondary-b: 237;
  
  --color-primary: #EDEDED;
  --color-primary-r: 237;
  --color-primary-g: 237;
  --color-primary-b: 237;
  --color-secondary: #000000;
  --color-secondary-r: 0;
  --color-secondary-g: 0;
  --color-secondary-b: 0;
}
