:root {
  --font-primary: 
    -apple-system,
    BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-secondary: sans-serif;
  --font-icons: 'Icons';
  
  --text-color-primary: red;
  --text-color-secondary: green;
  
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}
