.window1Sample {
  text-align: center;
}

.show {
  margin-top: 2rem;
}

.window {
  height: 100%;
}

@media (min-width: 576px) {
  .window {
    margin: 5em auto 0;
    max-width: 30em;
    height: initial;
  }
}
