@import '../../variables.pcss';

:root {
  --bg-color: #FFFFFF;
  --bg-shadow: 0 0 1rem rgba(0, 0, 0, 0.12),
               0 1rem 1rem rgba(0, 0, 0, 0.24);
}

.nav {
  background: red;
  max-width: 30rem;
}

.list {
  list-style-type: none;
}

.link {
  margin: 0 1em;
}
