.badge {
  --background: #FF4200;
}

.badge {
  display: inline-block;
  background: var(--background);
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
  transition: opacity 0.2s;
}

.badge {
  .label {
    color: var(--color-secondary);
    font-size: 0.75em;
    vertical-align: top;
    pointer-events: none;
    margin: 0;
  }
}
